<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LaziStore: Shop</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include('./partials/header', { user }) %> <% if(success.length>0){ %>
    <div
      class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500"
    >
      <span class="inline-block mt-1 mb-1 text-white"> <%= success %> </span>
    </div>
    <% } %>

    <div class="w-full flex flex-grow p-20 font-sans justify-around mt-6">
      <div
        class="w-[20%] flex h-screen flex-col items-start bg-gray-50 font-semibold p-6 shadow-lg rounded-lg"
      >
        <div class="flex items-center gap-2 mb-6">
          <h3 class="text-lg font-semibold text-gray-700">Sort by</h3>
          <form action="/shop">
            <select
              class="border border-gray-300 rounded-md px-3 py-2 text-gray-700 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500"
              name="sortby"
              id=""
            >
              <option value="popular">Popular</option>
              <option value="newest">Newest</option>
            </select>
          </form>
        </div>
        <div class="flex flex-col mt-20 space-y-4">
          <a class="block text-blue-600 hover:underline" href=""
            >New Collection</a
          >
          <a class="block text-blue-600 hover:underline" href=""
            >All Products</a
          >
          <a class="block text-blue-600 hover:underline" href="">Products</a>
        </div>
        <div class="mt-32 space-y-4">
          <a class="block text-gray-700 font-semibold" href="">Filter by:</a>
          <a class="block text-gray-600 hover:text-blue-600" href=""
            >Availability</a
          >
          <a class="block text-gray-600 hover:text-blue-600" href=""
            >Discount</a
          >
        </div>
      </div>

      <div class="w-[75%] flex flex-col gap-5">
        <div class="flex items-start flex-wrap justify-around">
          <% products.forEach(function(product){ %>
          <div
            class="w-60 border-2 border-zinc-400 rounded-md shadow-lg overflow-hidden mb-6"
          >
            <div
              class="w-full h-52 flex items-center justify-center bg-white bg-[<%= product.bgcolor %>]"
            >
              <img
                class="w-full h-full object-contain object-fit p-1"
                src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
                alt="product image"
              />
            </div>

            <div
              class="flex flex-col justify-between bg-[<%= product.panelcolor %>] items-center px-4 py-4 text-[<%= product.textcolor %>]"
            >
              <div class="w-full">
                <h3
                  class="tracking-tighter font-semibold block overflow-hidden text-lg"
                >
                  <%= product.name %>
                </h3>
              </div>
              <div class="flex justify-between w-full mt-3">
                <h4 class="text-xl font-semibold">$ <%= product.price %></h4>
                <a
                  class="w-7 h-7 flex items-center justify-center rounded-full bg-white shadow-md hover:bg-gray-100 transition"
                  href="/addtocart/<%= product._id %>"
                >
                  <i class="ri-add-line text-black"></i>
                </a>
              </div>
            </div>
          </div>

          <% }) %>
        </div>
      </div>
    </div>

    <div class=""><%- include('./partials/footer') %></div>
  </body>
</html>
