<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>User Profile</title>
  </head>
  <body class="bg-gray-100">
    <!-- header -->

    <%- include('./partials/header') %> <% if(error.length>0){ %>
    <div
      class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-red-500"
    >
      <span class="inline-block mt-1 mb-1 text-white"> <%= error %> </span>
    </div>
    <% } %> <% if(success.length>0){ %>
    <div
      class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 rounded-md bg-blue-500"
    >
      <span class="inline-block mt-1 mb-1 text-white"> <%= success %> </span>
    </div>
    <% } %>

    <!-- Container -->

    <div class="min-h-screen flex flex-col md:flex-row font-sans font-semibold">
      <!-- Sidebar -->
      <div class="bg-gray-800 text-white w-full md:w-64 flex-shrink-0">
        <div class="p-4 mt-20">
          <h2 class="text-2xl font-semibold">Dashboard</h2>
        </div>
        <nav class="p-4 space-y-2 navigation">
          <a href="#profile" class="block py-2 px-4 rounded hover:bg-gray-700"
            >User Profile</a
          >
          <a href="#password" class="block py-2 px-4 rounded hover:bg-gray-700"
            >Change Password</a
          >
          <a href="#email" class="block py-2 px-4 rounded hover:bg-gray-700"
            >Change Email</a
          >
          <a href="#orders" class="block py-2 px-4 rounded hover:bg-gray-700"
            >Track Orders</a
          >
          <a href="#settings" class="block py-2 px-4 rounded hover:bg-gray-700"
            >Settings</a
          >
          <a href="#logout" class="block py-2 px-4 rounded hover:bg-gray-700"
            >Logout</a
          >
        </nav>
      </div>

      <!-- Main Content -->
      <div class="flex-grow p-6">
        <div id="profile" class="hidden">
          <h2 class="text-2xl font-semibold mb-4">User Profile</h2>
          <div class="bg-white p-4 rounded-lg shadow">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
              <div>
                <label class="block text-sm font-medium text-gray-700"
                  >Name</label
                >
                <input
                  type="text"
                  class="mt-1 block outline-none w-full rounded-md border-gray-300 shadow-sm"
                  value="<%= user.fullname %>"
                />
              </div>
              <div>
                <label class="block text-sm font-medium text-gray-700"
                  >Email</label
                >
                <input
                  type="email"
                  class="mt-1 block outline-none w-full rounded-md border-gray-300 shadow-sm"
                  value="<%= user.email %>"
                />
              </div>
            </div>
          </div>
        </div>

        <form action="/profile/changePassword" method="post">
          <div id="password" class="hidden">
            <h2 class="text-2xl font-semibold mb-4">Change Password</h2>
            <div class="bg-white p-4 rounded-lg shadow">
              <div class="grid grid-cols-1 gap-6">
                <div>
                  <label class="block text-sm font-medium text-gray-700"
                    >Current Password</label
                  >
                  <input
                    type="password"
                    name="currentPassword"
                    class="mt-1 block outline-none w-full rounded-md border-gray-300 shadow-sm"
                  />
                </div>
                <div>
                  <label
                    class="block outline-none text-sm font-medium text-gray-700"
                    >New Password</label
                  >
                  <input
                    type="password"
                    name="newPassword"
                    class="mt-1 block outline-none outline-none w-full rounded-md border-gray-300 shadow-sm"
                  />
                </div>
                <div>
                  <label
                    class="block outline-none text-sm font-medium text-gray-700"
                    >Confirm New Password</label
                  >
                  <input
                    type="password"
                    name="confirmPassword"
                    class="mt-1 block outline-none outline-none w-full rounded-md border-gray-300 shadow-sm"
                  />
                </div>
                <div>
                  <input
                    type="submit"
                    class="bg-blue-500 px-4 py-2 rounded-md text-md cursor-pointer hover:bg-blue-700"
                    value="Confirm"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>

        <div id="email" class="hidden">
          <h2 class="text-2xl font-semibold mb-4">Change Email</h2>
          <div class="bg-white p-4 rounded-lg shadow">
            <div class="grid grid-cols-1 gap-6">
              <div>
                <label
                  class="block outline-none text-sm font-medium text-gray-700"
                  >Current Email</label
                >
                <input
                  type="email"
                  class="mt-1 block outline-none outline-none w-full rounded-md border-gray-300 shadow-sm"
                  value="<%= user.email %>"
                  disabled
                />
              </div>
              <div>
                <label
                  class="block outline-none text-sm font-medium text-gray-700"
                  >New Email</label
                >
                <input
                  type="email"
                  class="mt-1 block outline-none w-full rounded-md border-gray-300 shadow-sm"
                />
              </div>
            </div>
          </div>
        </div>

        <div id="orders" class="hidden">
          <h2 class="text-2xl font-semibold mb-4">Track Orders</h2>
          <div class="bg-white p-4 rounded-lg shadow">
            <ul class="space-y-2">
              <li class="p-4 bg-gray-100 rounded-lg shadow">
                <h3 class="text-lg font-semibold">Order #1234</h3>
                <p class="text-sm text-gray-600">Status: Completed</p>
                <p class="text-sm text-gray-600">Total: $50.00</p>
              </li>
              <li class="p-4 bg-gray-100 rounded-lg shadow">
                <h3 class="text-lg font-semibold">Order #5678</h3>
                <p class="text-sm text-gray-600">Status: Shipped</p>
                <p class="text-sm text-gray-600">Total: $30.00</p>
              </li>
              <li class="p-4 bg-gray-100 rounded-lg shadow">
                <h3 class="text-lg font-semibold">Order #9101</h3>
                <p class="text-sm text-gray-600">Status: Pending</p>
                <p class="text-sm text-gray-600">Total: $20.00</p>
              </li>
            </ul>
          </div>
        </div>

        <div id="settings" class="hidden">
          <h2 class="text-2xl font-semibold mb-4">Settings</h2>
          <div class="bg-white p-4 rounded-lg shadow">
            <!-- Settings content here -->
            <p class="text-gray-600">Settings content goes here.</p>
          </div>
        </div>

        <div id="logout" class="hidden">
          <h2 class="text-2xl font-semibold mb-4">Logout</h2>
          <div class="bg-white p-4 rounded-lg shadow">
            <p class="text-gray-600 mb-3">Are you sure want to Log out?</p>

            <a
              href="/users/logout"
              class="px-3 py-2 bg-red-700 rounded-md text-white mt-4"
              >Yes! Logout</a
            >
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/footer') %>
    <script>
      // JavaScript to handle tab switching
      const links = document.querySelectorAll(".navigation a");
      const sections = document.querySelectorAll("div[id]");

      links.forEach((link) => {
        link.addEventListener("click", (e) => {
          e.preventDefault();
          const target = document.querySelector(link.getAttribute("href"));

          sections.forEach((section) => {
            section.classList.add("hidden");
          });

          target.classList.remove("hidden");

          links.forEach((link) => {
            link.classList.remove("bg-gray-700");
          });

          link.classList.add("bg-gray-700");
        });
      });

      // Show the first tab by default
      links[0].click();
    </script>
  </body>
</html>
